
What are data structures, and why are they important?

1.  What are data structures, and why are they important?
->Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They are important because they allow us to manage and manipulate data effectively, which is crucial for developing efficient algorithms and solving complex problems.

2. Explain the difference between mutable and immutable data types with examples?

- > Mutable data types can be changed after they are created, while immutable data types cannot.
 Example -
 # Mutable example: Lists
my_list = [1, 2, 3]
print("Original list:", my_list)

my_list[0] = 100 # Modifying the list
print("Modified list:", my_list)
Original list: [1, 2, 3]
Modified list: [100, 2, 3]

# Immutable example: Strings
my_string = "Hello"
print("Original string:", my_string)

# my_string[0] = "J"

# it can reassign the variable to a new string
my_string = "Jello"
print("New string:", my_string)
Original string: Hello
New string: Jello

3. What are the main differences between lists and tuples in Python?
 -> The main differences between lists and tuples in Python are:

   Mutability: Lists are mutable, meaning we can change their elements after creation. Tuples are immutable, meaning we cannot change their elements after creation.

   Syntax: Lists are created using square brackets [], while tuples are created using parentheses ().

   Performance: Tuples are generally faster than lists for iteration and accessing elements because of their immutable nature.

 4.  Describe how dictionaries store data?

 Dictionaries in Python store data in key-value pairs. Each key is unique and associated with a specific value. You can think of it like a real-world dictionary where you look up a word (the key) to find its definition (the value).

Here's a breakdown of how they work:

Keys: Keys are used to access the values. They must be immutable data types like strings, numbers, or tuples.
Values: Values can be any data type, including other dictionaries or lists.
Unordered (in older Python versions): In Python versions before 3.7, dictionaries were unordered. The order in which items were inserted was not preserved.
Ordered (in Python 3.7+): As of Python 3.7, dictionaries maintain insertion order.
Mutable: Dictionaries are mutable, meaning you can add, remove, or modify key-value pairs after the dictionary is created.

5. Why might you use a set instead of a list in Python?

 ->  There are few resons
  Uniqueness: Sets automatically store only unique elements as if we add a duped item in set it will not be added this could be useful when we need to work with a collection of distinct items and want to easily eliminate duplicates. Lists, on the other hand, can contain duplicate elements.

  -> Sets support mathematical set operations like union, intersection, difference, and symmetric difference. These operations are convenient for tasks involving comparing and combining collections of unique items.

 ->  While sets are mutable (you can add and remove elements), the elements themselves must be immutable. Lists can contain mutable elements.

 6.  What is a string in Python, and how is it different from a list?

  -> In Python, a string is an immutable sequence of characters, used to represent text. Strings are enclosed in single quotes (') or double quotes (").
  Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets [].

  Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.
   

   7. How do tuples ensure data integrity in Python?

   Tuples in Python 3 ensure data integrity primarily through their immutability. This characteristic means that once a tuple is created, its contents cannot be changed, added to, or removed from.

   8. What is a hash table, and how does it relate to dictionaries in Python?

   Hash Table. A Hash Table is a data structure designed to be fast to work with. The reason Hash Tables are sometimes preferred instead of arrays or linked lists is because searching for, adding, and deleting data can be done really quickly, even for large amounts of data.

   9. Can lists contain different data types in Python ?

  -> Yes, Python lists can contain elements of different data types. This is a key feature of Python's flexibility and makes lists a highly versatile data structure.

   For example, a single Python list can hold integers, strings, floats, booleans, and even other complex data structures like nested lists, tuples, or dictionaries, all within the same list.


 10. Explain why strings are immutable in Python?

 -> Strings are immutable in Python, meaning that once a string object is created, its content cannot be directly modified. Any operation that appears to "change" a string, such as concatenation or replacement, actually results in the creation of a new string object in memory, with the original string remaining unchanged.

 11. What advantages do dictionaries offer over lists for certain tasks?

 ->  Dictionaries are ideal for tasks requiring quick lookups, data mappings, and key-value associations. Lists are suitable for ordered collections, sequential processing, and scenarios where the order of elements matters.

 12. Describe a scenario where using a tuple would be preferable over a list?

-> For example, consider storing the coordinates of a fixed geographical location, such as a landmark or a specific point on a map. These coordinates (e.g., latitude and longitude) are inherently immutable; they do not change.

 # Using a tuple for immutable coordinates
landmark_coordinates = (34.0522, -118.2437) # Los Angeles coordinates


13. How do sets handle duplicate values in Python?

Python sets are designed to store unique, unordered collections of elements. They inherently handle duplicate values by automatically discarding them.
When you attempt to add an element that already exists in a set, the set simply ignores the addition; it does not raise an error, nor does it store a second instance of the duplicate value. The set maintains only one occurrence of each unique element.
This behavior applies whether you are creating a set from a list or other iterable containing duplicates, or adding individual elements to an existing set using methods like add().

14.  How does the “in” keyword work differently for lists and dictionaries?

 -->  The "in" keyword in Python functions differently when used with lists compared to dictionaries due to the fundamental structure and purpose of each data type.
For Lists:
When using "in" with a list, it checks for the presence of a specific value among the elements within the list. The operation involves iterating through the list, element by element, to see if a match is found.

For Dictionaries:
When using "in" with a dictionary, it checks for the presence of a specific key within the dictionary. It does not directly check for the presence of values. To check for values, you would need to use the .values() method, and to check for key-value pairs, you would use the .items() method.


  15. Can you modify the elements of a tuple? Explain why or why not?

  No, the elements of a tuple cannot be modified directly after the tuple has been created. Tuples are immutable data structures in Python. This means that once a tuple is defined, its size and the values of its elements cannot be changed.

  Why Tuples are Immutable:
Data Integrity:
Immutability ensures that the data stored in a tuple remains constant throughout its lifetime. This is useful for representing fixed collections of data, such as coordinates, configuration settings, or database records, where accidental modification should be prevented.

Hashability:
Because tuples are immutable, they are hashable, meaning they can be used as keys in dictionaries or as elements in sets. Mutable objects like lists cannot be used in this way because their hash value could change if their contents were modified.

Performance:
In some cases, immutability can lead to minor performance optimizations as Python can make certain assumptions about the data.
Attempting to modify a tuple directly will result in a TypeError, as shown in the following example:

my_tuple = (1, 2, 3)
# Attempting to modify an element
# my_tuple[0] = 5  # This line would raise a TypeError

16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary where at least one of the values associated with a key is another dictionary. This allows you to create a hierarchical structure to organize data.

Example

student_grades = {
    'Ajay': {
        'Math': 95,
        'Science': 88,
        'English': 92
    },
    'Vijay': {
        'Math': 78,
        'Science': 85,
        'English': 80
    },
    'Ram': {
        'Math': 90,
        'Science': 91,
        'English': 87
    }
}

# Accessing data in the nested dictionary
print(f"Ajay's Math grade: {student_grades['Ajay']['Math']}")
print(f"Vijay's Science grade: {student_grades['Vijay']['Science']}")


17. Describe the time complexity of accessing elements in a dictionary

Accessing elements in a dictionary, such as retrieving a value by its key, typically exhibits an average-case time complexity of O(1), also known as constant time. This means that, on average, the time required to access an element does not significantly increase with the size of the dictionary.

18. In what situations are lists preferred over dictionaries3

Lists are preferred over dictionaries in situations where:
Order matters:

Lists maintain the order of elements as they are added, making them suitable for sequences where the position of an item is significant (e.g., a list of steps in a process, a chronological log of events).
Elements are accessed by index:
If data needs to be retrieved based on its numerical position within a collection, lists are the appropriate choice as they are designed for efficient indexing.
Frequent modifications involving insertion/deletion by position:
Lists provide methods for adding or removing elements at specific positions, which is efficient when the order needs to be maintained and modified.
Simple, ordered collections:

When the primary need is to store a collection of items without the need for key-based lookups or associating values with unique identifiers, lists offer a straightforward and efficient solution.

Duplicate elements are allowed and meaningful:
Lists can contain duplicate elements, which is often necessary in ordered sequences (e.g., a shopping list with multiple instances of the same item). Dictionaries, on the other hand, require unique keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

 -> Dictionaries are considered unordered because they don't store items in a specific sequence based on insertion order or any other predefined order.

 20. Explain the difference between a list and a dictionary in terms of data retrieval ?


 Parameter	List	Dictionary
Definition	An ordered collection of items.	An unordered collection of data in a key: value pair form.
Syntax	Uses square brackets [].	Uses curly braces {}.
Ordering	Ordered: Items have a defined order, which will not change.	Unordered: Items do not have a defined order.
Indexing	Accessed by index, starting from 0.	Values are accessed using keys.
Mutability	Mutable: Items can be modified after creation.	Mutable: Values can be updated, and key: value pairs can be added or removed.
Uniqueness	Allows duplicate items.	Does not allow duplicate keys. However, values can be duplicated.
Data Types	It can store any data type.	Keys can be of any immutable data type (e.g., strings, numbers, tuples). Values can be of any type.
Use Case	When order matters or when you need to store multiple values for an item.	When you need a unique key for each piece of data.
Example	fruits = [“apple”, “banana”, “cherry”]	person = {“name”: “John”, “age”: 30}
Built-in Functions	append(), remove(), pop(), sort(), etc.	keys(), values(), items(), get(), pop(), etc.
Performance	Faster for ordered operations like sorting.	Faster for lookup operations due to the hash mapping of keys.

In [2]:
#Practical Questions

# Write a code to create a string with your name and print it?
My_name = "Deepak"
print(My_name)

Deepak

In [3]:
# Write a code to find the length of the string "Hello World"?
n = "Hello World"
print(len(n))

11

In [4]:
# 3 - Write a code to slice the first 3 characters from the string "Python Programming"
p = "Python Programming"
print(p[0:3])

Pyt

In [6]:
# Write a code to convert the string "hello" to uppercase?
h = "hello"
print(h.upper())

HELLO

In [7]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple","orange"))

I like orange

In [8]:
# Write a code to create a list with numbers 1 to 5 and print it?
l  = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [12]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
l = [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [13]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [14]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l = ['a', 'b', 'c', 'd']
print(l[1])

b

In [15]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
l = [10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [16]:
#  Write a code to create a tuple with the elements 100, 200, 300 and print it?
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [17]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [19]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
min(t)

5

In [20]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
pet_animals = ('dog', 'cat', 'rabbit')
index_of_cat = pet_animals.index('cat')
print(index_of_cat)

1

In [21]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
f = ("apple", "banana", "cherry")
if "kiwi" in f:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [23]:
 # Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [25]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [27]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [28]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
union_set = s1.union(s2)
print(union_set)

{1, 2, 3, 4, 5}

In [30]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
intersection_set = s1.intersection(s2)
print(intersection_set)

{2, 3}

In [32]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {
    "name": "Deepak",
    "age": 30,
    "city": "Bengaluru"
}
print(my_dict)

{'name': 'Deepak', 'age': 30, 'city': 'Bengaluru'}

In [33]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict1 = {'name': 'John', 'age': 25}
my_dict1["country"] = "USA"
print(my_dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [34]:
 # Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

In [35]:
 # Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
 my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [37]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [39]:
# Write a code to create a list, a tuple, and a dictionary, and print them all

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8, "c": 9}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8, 'c': 9}

In [41]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
l = [random.randint(1, 100) for _ in range(5)]
l.sort()
print(l)

[41, 58, 74, 83, 100]

In [43]:
# Write a code to create a list with strings and print the element at the third index.
l = ["Ajay", "Vijay" ,"Deepak", "Rohit", "Ashish"]
print(l[3])

Rohit

In [47]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = dict1.copy()
combined_dict.update(dict2)

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
# Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}